@model IEnumerable<Proyecto_bases.Models.arbitrojuego>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Arbitros de juegos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayNameFor(model => model.idjuego)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayNameFor(model => model.idarbitro)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayNameFor(model => model.arbitro.nombre)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayNameFor(model => model.calificacion)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayNameFor(model => model.usrcreador)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayNameFor(model => model.fchcreacion)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayNameFor(model => model.usrmodificador)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayNameFor(model => model.fchmodificacion)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD "></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="background-color:#f2f2f2">

            @Html.DisplayFor(modelItem => item.idjuego)
        </td>
        <td style="background-color:#e0eeFF">

            @Html.DisplayFor(modelItem => item.idarbitro)
        </td>
        <td style="background-color:#f2f2f2">

            @Html.DisplayFor(modelItem => item.arbitro.nombre)
        </td>
        <td style="background-color:#e0eeFF">

            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td style="background-color:#f2f2f2">

            @Html.DisplayFor(modelItem => item.calificacion)
        </td>
        <td style="background-color:#e0eeFF">

            @Html.DisplayFor(modelItem => item.usrcreador)
        </td>
        <td style="background-color:#f2f2f2">

            @Html.DisplayFor(modelItem => item.fchcreacion)
        </td>
        <td style="background-color:#e0eeFF">

            @Html.DisplayFor(modelItem => item.usrmodificador)
        </td>
        <td style="background-color:#f2f2f2">

            @Html.DisplayFor(modelItem => item.fchmodificacion)
        </td>
        <td style="background-color:#e0eeFF">

            @Html.ActionLink("Edit", "Edit", new { id = item.idjuego, id2 = item.idarbitro }) |
            @Html.ActionLink("Details", "Details", new { id = item.idjuego, id2 = item.idarbitro }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idjuego, id2 = item.idarbitro })
        </td>
    </tr>
}

</table>
