@model IEnumerable<Proyecto_bases.Models.federacion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Federaciones</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayNameFor(model => model.idfederacion)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayNameFor(model => model.fchfundada)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayNameFor(model => model.usrcreador)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">

            @Html.DisplayNameFor(model => model.fchcreacion)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayNameFor(model => model.usrmodificador)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayNameFor(model => model.fchmodificacion)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD "></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="background-color:#f2f2f2">
            @Html.DisplayFor(modelItem => item.idfederacion)
        </td>
        <td style="background-color:#e0eeFF">
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td style="background-color:#f2f2f2">
            @Html.DisplayFor(modelItem => item.fchfundada)
        </td>
        <td style="background-color:#e0eeFF">
            @Html.DisplayFor(modelItem => item.usrcreador)
        </td>
        <td style="background-color:#f2f2f2">

            @Html.DisplayFor(modelItem => item.fchcreacion)
        </td>
        <td style="background-color:#e0eeFF">
            @Html.DisplayFor(modelItem => item.usrmodificador)

        </td>
        <td style="background-color:#f2f2f2">
            @Html.DisplayFor(modelItem => item.fchmodificacion)
        </td>
        <td style="background-color:#e0eeFF">
            @Html.ActionLink("Edit", "Edit", new { id = item.idfederacion }) |
            @Html.ActionLink("Details", "Details", new { id = item.idfederacion }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idfederacion })
        </td>
    </tr>
}

</table>
