@model IEnumerable<Proyecto_bases.Models.arbitro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idarbitro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.rendimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usrcreador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fchcreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usrmodificador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fchmodificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoria.descripcion)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.idarbitro)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.nombre)
        </th>

        <th>
            @Html.DisplayFor(modelItem => item.rendimiento)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.usrcreador)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.fchcreacion)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.usrmodificador)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.fchmodificacion)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.categoria.descripcion)
        </th>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.idarbitro }) |
            @Html.ActionLink("Details", "Details", new { id = item.idarbitro }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idarbitro })
        </td>
    </tr>
}

</table>
