@model IEnumerable<ProyectoPaises.Models.pais>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nbrPais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.poblacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BANDERA)
        </th>
        <th></th>
    </tr>



    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nbrPais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.poblacion)
        </td>
        <td>
            @{
        var imgscr = "Resources/Earth_flag.png";
        if (item.BANDERA != null)
        {
            var base64 = Convert.ToBase64String(item.BANDERA);
            imgscr = string.Format("data:image/PNG;base64,{0}", base64);
        }
            }
            <img src=@imgscr width="100" height="60" />



        </td>
        <td>

            @{
        var audsrc = "";
        if (item.HIMNO != null)
        {
            var hbase64 = Convert.ToBase64String(item.HIMNO);
            audsrc = string.Format("data:audio/mp3;base64,{0}", hbase64);
        }
            }
            <audio src='@audsrc' controls />
        </td>

        <td>
            <ul class="pagination">
                @Html.ActionLink("Edit", "Edit", new { id = item.idPais }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idPais }) |
                @Html.ActionLink("Personas", "Personas", new { idPais = item.idPais })

            </ul>
        </td>
    </tr>
    }

</table>

<ul class="pagination">
    <li>@Ajax.ActionLink("Primero", "ListOrders", new {id = 1 }, new AjaxOptions { UpdateTargetId = "list-orders", InsertionMode = InsertionMode.Replace })</li>
    <li>@Ajax.ActionLink("Anterior", "ListOrders", new { id = (ViewBag.PageIndex - 1 < 1) ? ViewBag.PageCount : (ViewBag.PageIndex - 1) }, new AjaxOptions { UpdateTargetId = "list-orders", InsertionMode = InsertionMode.Replace })</li>
    <li><span>Pág. @ViewBag.PageIndex de @ViewBag.PageCount</span></li>
    <li>@Ajax.ActionLink("Siguiente", "ListOrders", new { id = (ViewBag.PageIndex + 1 > ViewBag.PageCount) ? 1 : (ViewBag.PageIndex + 1) }, new AjaxOptions { UpdateTargetId = "list-orders", InsertionMode = InsertionMode.Replace })</li>
    <li>@Ajax.ActionLink("Ultimo", "ListOrders", new { id = ViewBag.PageCount }, new AjaxOptions { UpdateTargetId = "list-orders", InsertionMode = InsertionMode.Replace })</li>
</ul>

