@model IEnumerable<Proyecto_bases.Models.fechacalendario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Fechas calendario</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayName("ID Calendario")
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayName("Fecha")
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayName("ID Competicion")
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayName("ID Temporada")
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayName("Fecha creacion")
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayName("Usuario creador")
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayName("Fecha modificacion")
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayName("Usuario modificador")
        </th>

        <th style="background-color:#1A2A40; color:#9CA6AD "></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="background-color:#f2f2f2">

            @Html.DisplayFor(modelItem => item.idcalendario)
        </td>

        <td style="background-color:#e0eeFF">

            @Html.DisplayFor(modelItem => item.fecha)
        </td>

        <td style="background-color:#f2f2f2">

            @Html.DisplayFor(modelItem => item.idcompeticion)
        </td>

        <td style="background-color:#e0eeFF">

            @Html.DisplayFor(modelItem => item.idtemporada)
        </td>

        <td style="background-color:#f2f2f2">

            @Html.DisplayFor(modelItem => item.fchcreacion)
        </td>
        <td style="background-color:#e0eeFF">

            @Html.DisplayFor(modelItem => item.usrcreador)
        </td>

        <td style="background-color:#f2f2f2">

            @Html.DisplayFor(modelItem => item.fchmodificacion)
        </td>

        <td style="background-color:#e0eeFF">

            @Html.DisplayFor(modelItem => item.usrmodificador)
        </td>

        <td style="background-color:#f2f2f2">

            @Html.ActionLink("Edit", "Edit", new { id = item.idcalendario }) |
            @Html.ActionLink("Details", "Details", new { id = item.idcalendario }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idcalendario }) |
            @Html.ActionLink("Juegos", "juegosFechaCalendario", new { idC = item.idcalendario })
        </td>

    </tr>
}

</table>
