@model IEnumerable<Proyecto_bases.Models.rivalesAnotaciones_Result>
    @{
        ViewBag.Title = "Resultados de partidos jugados";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <h2>Anotadores entre @ViewBag.idCasa y @ViewBag.idVisita</h2>
    <table class="table">
        <tr>
            <th style="background-color:#1A2A40; color:#9CA6AD ">
                @Html.DisplayName("ID Funcionario")
            </th>
            <th style="background-color:#1A2A40; color:#9CA6AD "> 
                @Html.DisplayName("Total goles")
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td style="background-color:#f2f2f2">
                    @Html.DisplayFor(model => item.nombre)
                </td>
                <td style="background-color:#e0eeFF">
                    @Html.DisplayFor(model => item.golesTotales)
                </td>
            </tr>
        }
    </table>
