@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Anotadores entre rivales</h2>
@using (Html.BeginForm("anotadoresRivales", "rivalesAnotadores", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            ID Equipo 1
            @Html.TextBox("casa", null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            ID Equipo 2
            @Html.TextBox("visita", null, new { @class = "form-control" })
        </div>

        <div class="form-group">
            Fecha
            @Html.TextBox("fecha", null, new { @class = "form-control" })
        </div>

        <div>
            <input type="submit" name="btSubmit" value="Submit" />
        </div>
    </div>
}
