@model Proyecto_bases.Models.juego

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>juego</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.jugado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jugado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.golescasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.golescasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.golesvisita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.golesvisita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sinopsis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sinopsis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fchcreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fchcreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fchmodificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fchmodificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.club.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.club.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.club1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.club1.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechacalendario.idcompeticion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechacalendario.idcompeticion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.usrcreador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.usrcreador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario1.usrcreador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario1.usrcreador)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
