@model IEnumerable<Proyecto_bases.Models.juego>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ID Juego")
        </th>
        <th>
            @Html.DisplayName("ID Club Casa")
        </th>
        <th>
            @Html.DisplayName("Goles Casa")
        </th>
        <th>
            @Html.DisplayName("ID Club Visita")
        </th>
        <th>
            @Html.DisplayName("Goles Visita")
        </th>
        <th>
            @Html.DisplayName("ID calendario")
        </th>
        <th>
            @Html.DisplayName("Usuario creador")
        </th>
        <th>
            @Html.DisplayName("Fecha creacion")
        </th>
        <th>
            @Html.DisplayName("Usuario modificador")
        </th>
        <th>
            @Html.DisplayName("Fecha modificacion")
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <th>
            @Html.DisplayFor(model => item.idjuego)
        </th>
        <th>
            @Html.DisplayFor(model => item.idclubcasa)
        </th>
        <th>
            @Html.DisplayFor(model => item.golescasa)
        </th>
        <th>
            @Html.DisplayFor(model => item.idclubvisita)
        </th>
        <th>
            @Html.DisplayFor(model => item.golesvisita)
        </th>
        <th>
            @Html.DisplayFor(model => item.idcalendario)
        </th>
        <th>
            @Html.DisplayFor(model => item.usrcreador)
        </th>
        <th>
            @Html.DisplayFor(model => item.fchcreacion)
        </th>
        <th>
            @Html.DisplayFor(model => item.usrmodificador)
        </th>
        <th>
            @Html.DisplayFor(model => item.fchmodificacion)
        </th>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.idjuego }) |
            @Html.ActionLink("Details", "Details", new { id = item.idjuego }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idjuego })
        </td>
    </tr>
    }
</table>
