@model IEnumerable<Proyecto_bases.Models.competicion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idcompeticion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fchcreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usrmodificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usrcreador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usrmodificacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idcompeticion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fchcreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usrcreador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usrmodificador)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.idcompeticion }) |
            @Html.ActionLink("Details", "Details", new { id = item.idcompeticion }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idcompeticion })
        </td>
    </tr>
}

</table>
