<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/jqueryui")
    <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-pills">
                    <li role="presentation"><a href=" /Home/Index"> Home</a></li>
                    <li>@Html.ActionLink("Competicion temporada", "Index", "competiciontemporadas")</li>
                    <li>@Html.ActionLink("Funcionario deportivo", "Index", "funcionariodeportivo")</li>
                    <li>@Html.ActionLink("Juegos", "Index", "juegoes")</li>
                    <li>@Html.ActionLink("Fechas calendario", "Index", "fechacalendarios")</li>
                    <li>@Html.ActionLink("Competicion", "Index", "competicions")</li>
                    <li>@Html.ActionLink("Federacion", "Index", "federacions")</li>
                    <li>@Html.ActionLink("Usuarios", "Index", "usuarios")</li>
                    <li>@Html.ActionLink("Anotadores", "Index", "anotadores")</li>
                    <li>@Html.ActionLink("Clubes", "Index", "clubs")</li>
                    <li>@Html.ActionLink("Jugadores", "Index", "jugadores")</li>
                    <li>@Html.ActionLink("Club competicion temporada", "Index", "clubcompeticiontemporada")</li>
                    <li>@Html.ActionLink("Entrenadores", "Index", "entrenador")</li>
                    <li>@Html.ActionLink("Rivales", "Index", "rivales")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
