@model IEnumerable<Proyecto_bases.Models.fechacalendario>

@{
                /**/
                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calendario de juegos de temporada @ViewBag.idT y competicion @ViewBag.idC</h2>

<table class="table">
    <tr>
        <th style="background-color:#1A2A40; color:#9CA6AD ">

            @Html.DisplayNameFor(model => model.idcalendario)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">

            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">

            @Html.DisplayNameFor(model => model.fchcreacion)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">

            @Html.DisplayNameFor(model => model.usrcreador)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">

            @Html.DisplayNameFor(model => model.fchmodificacion)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">

            @Html.DisplayNameFor(model => model.usrmodificador)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td style="background-color:#f2f2f2">
            @Html.DisplayFor(modelItem => item.idcalendario)
        </td>
        <td style="background-color:#e0eeFF">
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td style="background-color:#f2f2f2">
            @Html.DisplayFor(modelItem => item.fchcreacion)
        </td>
        <td style="background-color:#e0eeFF">
            @Html.DisplayFor(modelItem => item.usrcreador)
        </td>
        <td style="background-color:#f2f2f2">
            @Html.DisplayFor(modelItem => item.fchmodificacion)
        </td>
        <td style="background-color:#e0eeFF">
            @Html.DisplayFor(modelItem => item.usrcreador)
        </td>
    </tr>
}

</table>
