@model IEnumerable<Proyecto_bases.Models.competiciontemporada>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ID Competicion")
        </th>
        <th>
            @Html.DisplayName("Nbr Competicion")
        </th>
        <th>
            @Html.DisplayName("Tipo Competicion")
        </th>
        <th>
            @Html.DisplayName("ID Temporada")
        </th>
        <th>
            @Html.DisplayName("Nbr Temporada")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(model => item.competicion.idcompeticion)
            </th>
            <th>
                @Html.DisplayFor(model => item.competicion.nombre)
            </th>
            <th>
                @Html.DisplayFor(model => item.competicion.tipo)
            </th>
            <th>
                @Html.DisplayFor(model => item.temporada.idtemporada)
            </th>
            <th>
                @Html.DisplayFor(model => item.temporada.nombre)
            </th>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idcompeticion, id2 = item.idtemporada }) |
                @Html.ActionLink("Details", "Details", new { id = item.idcompeticion, id2 = item.idtemporada }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idcompeticion, id2 = item.idtemporada }) |
                @Html.ActionLink("Crear calendario", "Calendario", new { id = item.idcompeticion, id2 = item.idtemporada }) |
                @Html.ActionLink("Generar resultados", "Resultados", new { id = item.idcompeticion, id2 = item.idtemporada }) |
                @Html.ActionLink("Tabla General", "TablaGeneral", new { id = item.idcompeticion, id2 = item.idtemporada }) |
                @Html.ActionLink("Arbitros", "Arbitros", new { id = item.idcompeticion, id2 = item.idtemporada })
                @Html.ActionLink("Ver calendario", "AdministrarCalendario", new { id = item.idcompeticion, id2 = item.idtemporada }) |
            </td>
        </tr>
    }

</table>