@model IEnumerable<Proyecto_bases.Models.competiciontemporada>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fchcreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fchmodificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.competicion.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.temporada.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.usrcreador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario1.usrcreador)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fchcreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fchmodificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.competicion.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.temporada.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.usrcreador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario1.usrcreador)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
