@model IEnumerable<Proyecto_bases.Models.juegosDeResultados_Result>
@{
    ViewBag.Title = "Resultados de partidos jugados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Resultados de juegos de temporada @ViewBag.idT y competicion @ViewBag.idC</h2>
<table class="table">
    <tr>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayName("ID Juego")
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayName("ID Club Casa")
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayName("Goles Casa")
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayName("ID Club Visita")
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayName("Goles Visita")
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayName("ID calendario")
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD "></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td style="background-color:#f2f2f2">
            @Html.DisplayFor(model => item.idjuego)
        </td>
        <td style="background-color:#e0eeFF">
            @Html.DisplayFor(model => item.idclubcasa)
        </td>
        <td style="background-color:#f2f2f2">
            @Html.DisplayFor(model => item.golescasa)
        </td>
        <td style="background-color:#e0eeFF">
            @Html.DisplayFor(model => item.idclubvisita)
        </td>
        <td style="background-color:#f2f2f2">
            @Html.DisplayFor(model => item.golesvisita)
        </td>
        <td style="background-color:#e0eeFF">
            @Html.DisplayFor(model => item.idcalendario)
        </td>
    </tr>
    }
</table>