@model IEnumerable<Proyecto_bases.Models.alineacion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alineaciones</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>


        <th>
            @Html.DisplayName("ID Funcionario")
        </th>
        <th>
            @Html.DisplayName("Nombre funcionario")
        </th>
        <th>
            @Html.DisplayName("ID Juego")
        </th>
        <th>
            @Html.DisplayName("Nombre club")
        </th>
        <th>
            @Html.DisplayName("Tipo")
        </th>
        <th>
            @Html.DisplayName("Rendimiento")
        </th>
        <th>
            @Html.DisplayName("Usuario creador")
        </th>
        <th>
            @Html.DisplayName("Fecha creacion")
        </th>
        <th>
            @Html.DisplayName("Usuario modificador")
        </th>
        <th>
            @Html.DisplayName("Fecha modificacion")
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <th>
            @Html.DisplayFor(modelItem => item.jugador.idfuncionario)
        </th>

        <th>
            @Html.DisplayFor(modelItem => item.jugador.funcionariodeportivo.nombre)
        </th>

        <th>
            @Html.DisplayFor(modelItem => item.idjuego)
        </th>

        <th>
            @Html.DisplayFor(modelItem => item.club.nombre)
        </th>

        <th>
            @Html.DisplayFor(modelItem => item.tipo)
        </th>

        <th>
            @Html.DisplayFor(modelItem => item.rendimiento)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.usrcreador)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.fchcreacion)
        </th>

        <th>
            @Html.DisplayFor(modelItem => item.usrmodificador)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.fchmodificacion)
        </th>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.idfuncionario , id2=item.idjuego}) |
            @Html.ActionLink("Details", "Details", new { id = item.idfuncionario, id2 = item.idjuego }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idfuncionario, id2 = item.idjuego })
        </td>
    </tr>
}

</table>
