@model IEnumerable<Proyecto_bases.Models.jugador>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rendimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.altura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fchcreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fchmodificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.funcionariodeportivo.foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.usrcreador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario1.usrcreador)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.rendimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.peso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.altura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fchcreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fchmodificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.funcionariodeportivo.foto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.usrcreador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario1.usrcreador)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idfuncionario }) |
            @Html.ActionLink("Details", "Details", new { id=item.idfuncionario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idfuncionario })
        </td>
    </tr>
}

</table>
