@model IEnumerable<ProyectoPaises.Models.persona>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nbrPersona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fchNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pais1.nbrPais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pais2.nbrPais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FOTO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nbrPersona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fchNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pais1.nbrPais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pais2.nbrPais)
        </td>
        <td>
            @{
                string imgscr = string.Format("Resources/perfil.png");
                if (item.FOTO != null)
                {
                    string base64 = Convert.ToBase64String(item.FOTO);
                    imgscr = string.Format("data:image/png;base64,{0}", base64);
                }
            }
            <img scr='@imgscr' class="img-responsive" height="100" width="100"/>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.cedula, id2 = item.paisResidencia }) |
            @Html.ActionLink("Details", "Details", new { id = item.cedula, id2 = item.paisResidencia }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.cedula, id2 = item.paisResidencia })
        </td>
    </tr>
}

</table>
