@model Proyecto_bases.Models.entrenador

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>entrenador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fchiniciocarrera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fchiniciocarrera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jugadorjuventud)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jugadorjuventud)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fchcreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fchcreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fchmodificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fchmodificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.funcionariodeportivo.foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.funcionariodeportivo.foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.usrcreador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.usrcreador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario1.usrcreador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario1.usrcreador)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idfuncionario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
