@model IEnumerable<Proyecto_bases.Models.entrenador>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Entrenadores</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayNameFor(model => model.idfuncionario)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayNameFor(model => model.fchiniciocarrera)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayNameFor(model => model.jugadorjuventud)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayNameFor(model => model.usrcreador)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayNameFor(model => model.fchcreacion)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayNameFor(model => model.usrcreador)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD ">
            @Html.DisplayNameFor(model => model.fchmodificacion)
        </th>
        <th style="background-color:#1A2A40; color:#9CA6AD "></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="background-color:#f2f2f2">
            @Html.DisplayFor(modelItem => item.idfuncionario)
        </td>
        <td style="background-color:#e0eeFF">
            @Html.DisplayFor(modelItem => item.fchiniciocarrera)
        </td>
        <td style="background-color:#f2f2f2">
            @Html.DisplayFor(modelItem => item.jugadorjuventud)
        </td>
        <td style="background-color:#e0eeFF">
            @Html.DisplayFor(modelItem => item.usuario.usrcreador)
        </td>
        <td style="background-color:#f2f2f2">
            @Html.DisplayFor(modelItem => item.fchcreacion)
        </td>
        <td style="background-color:#e0eeFF">
            @Html.DisplayFor(modelItem => item.usrmodificador)
        </td>
        <td style="background-color:#f2f2f2">
            @Html.DisplayFor(modelItem => item.fchmodificacion)
        </td>
        <td style="background-color:#e0eeFF">
            @Html.ActionLink("Edit", "Edit", new { id = item.idfuncionario }) |
            @Html.ActionLink("Details", "Details", new { id = item.idfuncionario }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idfuncionario }) |
            @Html.ActionLink("Historial", "Historial", new { id = item.idfuncionario })
        </td>
    </tr>
}

</table>
