@model IEnumerable<Paises.Models.pais>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nbrPais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.poblacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.persona.nbrPersona)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nbrPais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.poblacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.persona.nbrPersona)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idPais }) |
            @Html.ActionLink("Details", "Details", new { id=item.idPais }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idPais })
        </td>
    </tr>
}

</table>
