
@{
    ViewBag.Title = "Mantenimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mantenimiento</h2>
En esta pantalla se puede hacer el mantenimiento de la mayoria de las tablas en la base.

<li role="presentation"><a href=" /Home/Index"> Home</a></li>
<li>@Html.ActionLink("Competicion temporada", "Index", "competiciontemporadas")</li>
<li>@Html.ActionLink("Funcionario deportivo", "Index", "funcionariodeportivo")</li>
<li>@Html.ActionLink("Juegos", "Index", "juegoes")</li>
<li>@Html.ActionLink("Fechas calendario", "Index", "fechacalendarios")</li>
<li>@Html.ActionLink("Competicion", "Index", "competicions")</li>
<li>@Html.ActionLink("Federacion", "Index", "federacions")</li>
<li>@Html.ActionLink("Alineacion", "Index", "alineacion")</li>
<li>@Html.ActionLink("Arbitros", "Index", "arbitros")</li>
<li>@Html.ActionLink("Contratos", "Index", "contratoes")</li>
<li>@Html.ActionLink("Arbitro juego", "Index", "arbitrojuego")</li>
<li>@Html.ActionLink("Temporada", "Index", "temporada")</li>
<li>@Html.ActionLink("Funcionario CT", "Index", "funcclubcomptemporada")</li>
<li>@Html.ActionLink("Usuarios", "Index", "usuarios")</li>
<li>@Html.ActionLink("Anotadores", "Index", "anotadores")</li>
<li>@Html.ActionLink("Clubes", "Index", "clubs")</li>
<li>@Html.ActionLink("Jugadores", "Index", "jugadores")</li>
<li>@Html.ActionLink("Club competicion temporada", "Index", "clubcompeticiontemporada")</li>
<li>@Html.ActionLink("Entrenadores", "Index", "entrenador")</li>